# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# MONGODB_URI: MongoDB connection string for live database, transactions, user auth, and payment validation
MONGODB_URI="mongodb+srv://<username>:<password>@cluster.mongodb.net/jdpay?retryWrites=true&w=majority"

# VTPASS_API: VTpass REST API Configuration for DStv & TV subscription fulfillment
VTPASS_EMAIL="your_vtpass_email@example.com"
VTPASS_PASSWORD="your_vtpass_password"
VTPASS_BASE_URL="https://vtpass.com/api"
VTPASS_ENV="live"
JWT_SECRET="your_jwt_secret_key"
PORT=3000
